
.shadow-box {
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:999;
    
}


.content_div {
   border:1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.05);
}



.layout-dropdown-content {
    display:none;
    position:absolute;
    /*background-color: #4598c8;
     font-size:small;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:9999;
    text-align:center;
    border-radius:5px;*/
    
}


.image_large {
    max-height: 200px;
    min-height: 150px;
    max-width: 200px;
    min-width: 150px;
    background-position: center;
    text-align: center;
    border-radius:50%;
}

.dropdown-content-edit {
     display:none;
    position:absolute;
    background-color: #4598c8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:9999;
    text-align:center;
    border-radius:5px;
    
}

.layout-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom:0.4px solid #a4c4d7;
}

.layout-dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom:0.4px solid #a4c4d7;
}

.layout-dropdown-content  :hover{
    background-color:#4598c8;
    color:#f3f0f0;
}


.layout_list_type
{
  background-color:transparent;
  text-align:center;
    border:0px solid white;
    padding:9px 9px;
    width:100%;
    color:black;
  border-bottom:0.4px solid #a4c4d7;
}


.layout_ad_banner {
            width: 150px;
            height: 300px;
            border: 1px solid #c3c3c3;
            display: -webkit-flex;
           -webkit-flex-wrap: wrap;
           -webkit-align-content: center;
            align-content: center;
            text-align:center;
            elevation:above;
            text-decoration:none;
            justify-content:center;
            color:black;
        }



.layout_shadow_box {
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(3,3,3,0.2);
    z-index: 9999;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
}


    .layout_iframe{
        width:100%;
        height:500px;
        overflow:hidden;
        margin:0px 0px 30px 0px;
        padding:0px;
       /* border:1px solid #f3f0f0;
        border-radius:5px; 
        box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);*/
    }

       /*.layout_header {
        background-color:#eee5e5;
            padding: 1% 0 1% 3%;
            font-size: large;
            text-align: left;
            box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);
        }*/

         .layout_dropdown_Button
        {
          background-color:transparent;
          text-align:center;
 
            border:0px solid white;
            padding:6px 6px;
            width:100%;
            color:white;
            outline:0;
            border-bottom:0.4px solid #ffffff;
        }

       .layout_filter_box
       {
           background-color:white;
           color:black;
           border:1px solid black;
           border-radius:1px;
           padding:0px;
           margin:1px;
           height:28px;
           width:80%;
       }


       .layout_ddl_filter {
          
            border-radius:2px;        
            font-family:Verdana;
            font-size:14px;
            width:175px;         
           border:1px solid #cccccc;
           color:#000000;
           height:25px;
           
             background-color: white;
           /*  -webkit-appearance: none; 
          background-image:url('~/Images/Icon/down_arrow.png');
            background-position:88px;
            background-repeat:no-repeat;*/
            text-indent: 0.01px;/*In Firefox*/
            outline:0;
            text-align:center;
            padding:0px;
            margin:-6px;
        }


             .layout_txtbox_filter {
            margin:0px;
            border-radius:0.5px;
            padding:0px;
            height:25px;
            width:100px;
             border:1px solid #cccccc;
            font-family:Verdana;
            font-size:14px;
           -webkit-appearance: none; 
           /* background-image:url('Images/Arrowhead-Down-01.png');*/
            background-position:88px;
            background-repeat:no-repeat;
            text-indent: 0.01px;
            resize:none;
            outline:0;
    }

  .layout_txtbox_filter:focus{

      box-shadow: 0 0 0.5px 0.5px #4dd2ff;
  }


         .layout_modal_Window {
           display: none;   /*Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 0; /* Location of the box */
            left: 100px;
            top: 60px;
            overflow: auto;  /*Enable scroll if needed*/
           
            
            border:2px solid #e6e2e2;
            border-radius:5px;
           
        }

         .layout_data_table{
             line-height:30px;
         }

         .layout_data_table input{
             height:25px;
         }

.zero-margin {
    padding:0px !important;
    margin:0px;
}

.profile_log {
    border-radius:50%;
}

.layout-list {
    margin-top:10px;
    background-color:#fff;
}
.vendor-main{
   height:100px;
}
.vendor-left {
    float: left;
    padding-right: 10px;
}

.vendor-address {
    min-width: 120px;    
    text-align: left;
}
.vendor-edit{
    margin-top:10px;
float:right;
}
.complaint-add {
    float: right;
    margin-right: 40px;
}
.margin-right-5p{
    margin-right:5px;
}




.nav-small li a {
    font-size: 14px !important;
    font-weight: 300 !important;
}

/*Scroll bar indication*/

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 5px;
    background: #727cf5;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 5px;
    background: #4dd2ff;
    width: 0%;
}