/*.ProgressBar {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    display: block;
    
}
    .ProgressBar img {
       
    }

    .ProgressBar-Parent {
        position: relative;
        align-content:center;
    }

.ProgressBar-Sibling {
    position: absolute;
}*/


/*******************
    ApttLayout.css
********************/



.shadow-box {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}


.content_div {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.05);
}



.layout-dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #4598c8;
     font-size:small;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:9999;
    text-align:center;
    border-radius:5px;*/
}


.image_large {
    max-height: 200px;
    min-height: 150px;
    max-width: 200px;
    min-width: 150px;
    background-position: center;
    text-align: center;
    border-radius: 50%;
}

.dropdown-content-edit {
    display: none;
    position: absolute;
    background-color: #4598c8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    text-align: center;
    border-radius: 5px;
}

.layout-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 0.4px solid #a4c4d7;
}

.layout-dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 0.4px solid #a4c4d7;
}

.layout-dropdown-content :hover {
    background-color: #4598c8;
    color: #f3f0f0;
}


.layout_list_type {
    background-color: transparent;
    text-align: center;
    border: 0px solid white;
    padding: 9px 9px;
    width: 100%;
    color: black;
    border-bottom: 0.4px solid #a4c4d7;
}


.layout_ad_banner {
    width: 150px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
    elevation: above;
    text-decoration: none;
    justify-content: center;
    color: black;
}



.layout_shadow_box {
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(3,3,3,0.2);
    z-index: 9999;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
}


.layout_iframe {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    /* border:1px solid #f3f0f0;
        border-radius:5px; 
        box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);*/
}

/*.layout_header {
        background-color:#eee5e5;
            padding: 1% 0 1% 3%;
            font-size: large;
            text-align: left;
            box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);
        }*/

.layout_dropdown_Button {
    background-color: transparent;
    text-align: center;
    border: 0px solid white;
    padding: 6px 6px;
    width: 100%;
    color: white;
    outline: 0;
    border-bottom: 0.4px solid #ffffff;
}

.layout_filter_box {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 1px;
    padding: 0px;
    margin: 1px;
    height: 28px;
    width: 80%;
}


.layout_ddl_filter {
    border-radius: 2px;
    font-family: Verdana;
    font-size: 14px;
    width: 175px;
    border: 1px solid #cccccc;
    color: #000000;
    height: 25px;
    background-color: white;
    /*  -webkit-appearance: none; 
          background-image:url('~/Images/Icon/down_arrow.png');
            background-position:88px;
            background-repeat:no-repeat;*/
    text-indent: 0.01px; /*In Firefox*/
    outline: 0;
    text-align: center;
    padding: 0px;
    margin: -6px;
}


.layout_txtbox_filter {
    margin: 0px;
    border-radius: 0.5px;
    padding: 0px;
    height: 25px;
    width: 100px;
    border: 1px solid #cccccc;
    font-family: Verdana;
    font-size: 14px;
    -webkit-appearance: none;
    /* background-image:url('Images/Arrowhead-Down-01.png');*/
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px;
    resize: none;
    outline: 0;
}

    .layout_txtbox_filter:focus {
        box-shadow: 0 0 0.5px 0.5px #4dd2ff;
    }


.layout_modal_Window {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    left: 100px;
    top: 60px;
    overflow: auto; /*Enable scroll if needed*/
    border: 2px solid #e6e2e2;
    border-radius: 5px;
}

.layout_data_table {
    line-height: 30px;
}

    .layout_data_table input {
        height: 25px;
    }

.zero-margin {
    padding: 0px !important;
    margin: 0px;
}

.profile_log {
    border-radius: 50%;
}

.layout-list {
    margin-top: 10px;
    background-color: #fff;
}

.vendor-main {
    height: 100px;
}

.vendor-left {
    float: left;
    padding-right: 10px;
}

.vendor-address {
    min-width: 120px;
    text-align: left;
}

.vendor-edit {
    margin-top: 10px;
    float: right;
}

.complaint-add {
    float: right;
    margin-right: 40px;
}

.margin-right-5p {
    margin-right: 5px;
}


.search-dropdown {
    width: 150px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px;
}

.search-text {
    width: 150px;
    height: 40px;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    display: inline;
    float: left;
    border: 0px;
}

.search-button {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
    display: inline;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: chocolate;
}

.search-symbol {
    height: 40px;
    width: 40px;
    margin: 0px;
    padding: 0px;
    margin: auto;
}


.nav-small li a {
    font-size: 14px !important;
    font-weight: 300 !important;
}

/*Scroll bar indication*/

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 5px;
    background: #727cf5;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 5px;
    background: #4dd2ff;
    width: 0%;
}

/*******************
    ApttTheme.css
********************/





.theme_body_background {
    background-color: #f9f9f9;
}

.theme_body_background {
    background-color: #f7f7f7;
}

.white_bg {
    background-color: #787fff;
    color: white;
}



.theme_primary_bg {
    /*background-color:#8e2430;*/
    /*background-color:#fafafb;*/
    color: #fff;
}

    .theme_primary_bg li {
        /*background-color:#8e2430;*/
        color: #fff;
    }

    .theme_primary_bg a {
        text-decoration: none;
        /*background-color:#8e2430;*/
        color: #000;
    }

.theme_text_only span label h4 {
    display: inline-block;
    color: #000000;
    /*color:#fafafb;*/
}

label.theme_text_only {
    color: #000000;
    /*color:#fafafb;*/
}

.theme_text_only {
    color: #000000;
    /*color:#fafafb;*/
}


.theme_second_bg {
    background-color: white;
    color: #3f3f3f;
}



    .theme_second_bg label {
        color: #3f3f3f;
    }

.theme_third_bg {
    background-color: #204d74;
    color: white;
}

    .theme_third_bg label li {
        background-color: #6eab91;
        color: white;
    }

    .theme_third_bg label {
        text-decoration: none;
        color: white;
    }

    .theme_third_bg a {
        text-decoration: none;
        color: white;
    }

.theme_third_main {
    color: black;
    background-color: transparent;
}

.as_bg_image {
    background-color: #808080;
}

.as_primary_text {
    color: white;
}

    .as_primary_text label {
        color: white;
    }


.theme-dropdown-content {
    background-color: #6eab91;
    color: black;
    font-size: small;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    text-align: center;
    border-radius: 5px;
}

    .theme-dropdown-content input {
        background-color: #6eab91;
        color: black;
        font-size: small;
    }

/*.theme_body_background {
             background-color: white;
        }

       
        .white_bg{
             background-color:black;
             color:white;
        }



        .theme_primary_bg
        {
            background-color:#b6313e;
            color:#f5f5f5;
            
        }

        .theme_primary_bg li, a
        {
            background-color:#b6313e;
            color:#f5f5f5;
            
        }

        .theme_primary_bg a
        {
            text-decoration:none;
            background-color:#b6313e;
            color:#f8f8f8;
        }

        .theme_text_only span label h4{
            display: inline-block;
             color:#b6313e;
        }

        label.theme_text_only {
            color:#b6313e;
        }

        .theme_text_only {
          
           color:#b6313e;
        }

  
      .theme_second_bg{
            background-color:white;
            color:#b6313e;
        }



      .theme_second_bg label{
            background-color:white;
            color:#b6313e;
        }

        .theme_third_bg{
            background-color:#808080;
            color:white;
        }

        .as_bg_image {
            background-color:#808080;
        }

        .as_primary_text{
            color:white;
        }

        .as_primary_text label
        {
             color:white;
        }


        .theme-dropdown-content {
       background-color: #b6313e;
        font-size:small;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index:9999;
        text-align:center;
        border-radius:5px;
    
}*/

.font_heading_1 {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 0.875em; /* 14px/16=0.875em */
    font-weight: normal;
}

.font_size_1 {
    font-family: Arial, sans-serif;
    font-size: 1.5em; /* 14px/16=0.875em */
    font-weight: 400;
}

.font_size_2 {
    font-family: Verdana;
    font-size: 1.1em; /* 14px/16=0.875em */
    font-weight: normal;
}

    .font_size_2 li a {
        font-family: Times, serif;
        font-size: 1.1em; /* 14px/16=0.875em */
        font-weight: 200;
    }

.font_size_3 {
    font-family: Times, serif !important;
    font-size: 1.0em; /* 14px/16=0.875em */
    font-weight: 100;
}

.font_primary {
    font-family: "Lucida Console";
}

.font_secondary {
    font-family: "Comic Sans MS";
}


.theme-btn-primary {
    color: #fff;
    background-color: #6eab91;
    border-color: #2c7a59
}

    .theme-btn-primary.focus, .btn-primary:focus {
        color: #fff;
        background-color: #459372;
        border-color: #2c7a59
    }

    .theme-btn-primary:hover {
        color: #fff;
        background-color: #459372;
        border-color: #2c7a59
    }

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

label {
    font-weight: 200 !important;
}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

/*******************
    Dashboard.css
********************/






.theme_body_background {
    background-color: #f9f9f9;
}

.theme_body_background {
    background-color: #f7f7f7;
}

.white_bg {
    background-color: #787fff;
    color: white;
}



.theme_primary_bg {
    /*background-color:#8e2430;*/
    /*background-color:#fafafb;*/
    color: #fff;
}

    .theme_primary_bg li {
        /*background-color:#8e2430;*/
        color: #fff;
    }

    .theme_primary_bg a {
        text-decoration: none;
        /*background-color:#8e2430;*/
        color: #000;
    }

.theme_text_only span label h4 {
    display: inline-block;
    color: #000000;
    /*color:#fafafb;*/
}

label.theme_text_only {
    color: #000000;
    /*color:#fafafb;*/
}

.theme_text_only {
    color: #000000;
    /*color:#fafafb;*/
}


.theme_second_bg {
    background-color: white;
    color: #3f3f3f;
}



    .theme_second_bg label {
        color: #3f3f3f;
    }

.theme_third_bg {
    background-color: #204d74;
    color: white;
}

    .theme_third_bg label li {
        background-color: #6eab91;
        color: white;
    }

    .theme_third_bg label {
        text-decoration: none;
        color: white;
    }

    .theme_third_bg a {
        text-decoration: none;
        color: white;
    }

.theme_third_main {
    color: black;
    background-color: transparent;
}

.as_bg_image {
    background-color: #808080;
}

.as_primary_text {
    color: white;
}

    .as_primary_text label {
        color: white;
    }


.theme-dropdown-content {
    background-color: #6eab91;
    color: black;
    font-size: small;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    text-align: center;
    border-radius: 5px;
}

    .theme-dropdown-content input {
        background-color: #6eab91;
        color: black;
        font-size: small;
    }

/*.theme_body_background {
             background-color: white;
        }

       
        .white_bg{
             background-color:black;
             color:white;
        }



        .theme_primary_bg
        {
            background-color:#b6313e;
            color:#f5f5f5;
            
        }

        .theme_primary_bg li, a
        {
            background-color:#b6313e;
            color:#f5f5f5;
            
        }

        .theme_primary_bg a
        {
            text-decoration:none;
            background-color:#b6313e;
            color:#f8f8f8;
        }

        .theme_text_only span label h4{
            display: inline-block;
             color:#b6313e;
        }

        label.theme_text_only {
            color:#b6313e;
        }

        .theme_text_only {
          
           color:#b6313e;
        }

  
      .theme_second_bg{
            background-color:white;
            color:#b6313e;
        }



      .theme_second_bg label{
            background-color:white;
            color:#b6313e;
        }

        .theme_third_bg{
            background-color:#808080;
            color:white;
        }

        .as_bg_image {
            background-color:#808080;
        }

        .as_primary_text{
            color:white;
        }

        .as_primary_text label
        {
             color:white;
        }


        .theme-dropdown-content {
       background-color: #b6313e;
        font-size:small;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index:9999;
        text-align:center;
        border-radius:5px;
    
}*/

.font_heading_1 {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 0.875em; /* 14px/16=0.875em */
    font-weight: normal;
}

.font_size_1 {
    font-family: Arial, sans-serif;
    font-size: 1.5em; /* 14px/16=0.875em */
    font-weight: 400;
}

.font_size_2 {
    font-family: Verdana;
    font-size: 1.1em; /* 14px/16=0.875em */
    font-weight: normal;
}

    .font_size_2 li a {
        font-family: Times, serif;
        font-size: 1.1em; /* 14px/16=0.875em */
        font-weight: 200;
    }

.font_size_3 {
    font-family: Times, serif !important;
    font-size: 1.0em; /* 14px/16=0.875em */
    font-weight: 100;
}

.font_primary {
    font-family: "Lucida Console";
}

.font_secondary {
    font-family: "Comic Sans MS";
}


.theme-btn-primary {
    color: #fff;
    background-color: #6eab91;
    border-color: #2c7a59
}

    .theme-btn-primary.focus, .btn-primary:focus {
        color: #fff;
        background-color: #459372;
        border-color: #2c7a59
    }

    .theme-btn-primary:hover {
        color: #fff;
        background-color: #459372;
        border-color: #2c7a59
    }

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

label {
    font-weight: 200 !important;
}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

/*******************
    forum.css
********************/

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#view_div {
    width: 100%;
    min-height: 500px;
}

#view_table {
    width: 100%;
    background-color: #faf9f9;
    border: 1px solid #e1e0e0;
    border-collapse: collapse;
    min-height: 90px;
}

.forum_table {
    background-color: #faf9f9;
    border-radius: 1px 1px 1px 1px;
    border-collapse: collapse;
    /*  border: 1px solid #c1c1c1;*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}


.main_thread_row {
    /*border-bottom: 1px solid #bfbfbf;*/
    background-color: #fff;
    border-radius: 5px;
}


.main_text {
    color: #494747;
    font-size: 14px;
    font-family: Leelawadee;
    padding: 0.5% 7% 0.5% 5%;
    text-align: left;
    width: 80%;
    vertical-align: top;
}

.lastest_comment_row {
    /* border-bottom: 1px solid #bfbfbf;*/
    background-color: #fff;
}

.last_comment_text {
    color: #494747;
    font-size: 14px;
    font-family: Leelawadee;
    padding-left: 5%;
    text-align: left;
    width: 70%;
    padding-top: 8px;
    vertical-align: top;
}


.new_Comment_td {
    width: 70%;
    vertical-align: top;
    position: relative;
}

.comment_row {
    background-color: #fff;
}

    .comment_row td {
        background-color: #faf9f9;
        vertical-align: top;
    }


.td_Comment_style {
    background-color: #faf9f9;
    color: #494747;
    text-align: left;
    padding-left: 2%;
    font-size: small;
    border-bottom: 1px solid #eee;
    padding: 5px 0px 5px 0px;
}

.img_default {
    width: 40px;
    height: 40px;
}

.img_default_comment {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #e8e6e6;
}

.topic_dv {
    width: 10%;
}

.link_btn {
    font-size: small;
    color: #4a80a8;
    text-decoration: none;
    padding: 10px;
    font-style: normal;
    font-size: 15px;
}

.td_name {
    text-align: left;
    color: #173a57;
    font-size: small;
}

.td_date {
    text-align: left;
    font-size: 10px;
    padding-top: 5px;
    margin-top: 1%;
    margin-bottom: 0;
    color: #494747;
    width: 30%;
}


.button {
    margin-right: 10px;
    color: white;
    border: 1px solid #41a8f6;
    height: 30px;
    background-color: #5d99d4;
    width: 80px;
    text-decoration: none;
}

.txtbox {
    border: 1px solid #f5f1f1;
    outline: 0;
    padding-left: 3%;
    width: 97%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border: 1px solid #edeaea;
}

.Comment_Textbox {
    border: 1px solid #f5f1f1;
    outline: 0;
    padding-left: 3%;
    width: 65%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border: 1px solid #cbc8c8;
    border-radius: 5px;
}

.td_Category {
    color: #396880;
    font-size: medium;
}

.dvLoading_first {
    background: url(Images/loader_2.gif) no-repeat center center;
    opacity: 0.5;
    height: 130px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 48%;
    top: 50%;
    margin: -25px 0 0 -25px;
}


.dvLoading_next {
    background: url(Images/loader_2.gif) no-repeat center center;
    opacity: 0.5;
    height: 130px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 48%;
    top: 80%;
    margin: -25px 0 0 -25px;
}

.ddl_style {
    border-radius: 1px;
    font-family: 'Baskerville Old Face';
    font-size: 14px;
    width: 170px;
    border: 1px solid #cccccc;
    color: #666666;
    height: 30px;
    padding-left: 3%;
    background-color: #efebeb;
    -webkit-appearance: none;
    /* background-image:url('Images/Arrowhead-Down-01.png');*/
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px; /*In Firefox*/
    outline: 0;
    text-align: center;
}


.image_div {
    width: 10%;
    text-align: left;
    padding-left: 1%;
}

    .image_div img {
        width: 40px;
        height: 40px;
        border-radius: 49.9%;
        margin-top: 8px;
    }

.user_div {
    text-align: left;
    font-size: 12px;
    margin-top: 1%;
    color: #a09e9e;
}

.icon_td {
    text-decoration: none;
    vertical-align: top;
    font-size: 12px;
    color: #337ab7;
    padding-left: 39px;
}

.dvLoading_first {
    background: url(Images/ajax-loader.gif) no-repeat center center;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    z-index: 1000;
    border: 0;
    outline: 0;
    border-style: none;
    border-color: white;
    border-radius: 5px;
    text-align: center;
}

.small_loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    animation: spin 2s linear infinite;
}

.new_Comment_td {
    padding: 10px;
}

/*******************
    IP.css
********************/

.ProgressBar {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    display: block;
}

    .ProgressBar img {
    }

.ProgressBar-Parent {
    position: relative;
    align-content: center;
}

.ProgressBar-Sibling {
    position: absolute;
}


/*******************
    layout.css
********************/









.iframe_left {
    width: 15%;
}

.iframe_right {
    width: 15%;
}

.iframe_center {
    width: 85%;
    height: auto;
    overflow: scroll;
}


.content_top_header {
    font-family: 'Bookman Old Style';
    color: white;
    text-align: center;
}

.content_top_header_td1 {
    text-align: center;
    font-weight: bold;
    background-color: #31a8e6;
}

.content_top_header_td2 {
    color: white;
    font-size: small;
    text-align: center;
    background-color: crimson;
    background-color: #31a8e6;
}





.lblerror {
    color: #aca9a9;
    padding: 2% 0 2% 0;
}

.ad_banner {
    width: 150px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
    elevation: above;
    text-decoration: none;
}



/*******************
    MyFlat.css
********************/



.FlatLabel {
    font: 'Arial Unicode MS';
    font-size: 16px;
    font-style: normal;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

td {
    height: 40px;
    vertical-align: central;
}

.labelwidth {
    width: 110px;
}

.loader {
    border: 25px solid #f3f3f3; /* Light grey */
    border-top: 25px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.data_label {
    font: '"Courier New", Times, Monospace';
    font-style: italic;
    font-weight: 200;
    margin-left: 10px;
    font-size: 14px;
    color: #000 !important;
}

.small_label {
    font-weight: 200;
    margin: 0px;
    font-size: 12px;
    color: #000 !important;
}

.heading_label {
    font: '"Courier New", Times, Monospace';
    font-style: normal;
    font-weight: 200;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
}

.data_heading {
    font: '"Courier New", Times, Monospace';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    margin-left: 10px;
    color: #2f2f2f;
}




/************************
    Nestin-3rdParty.css
*************************/




/** 03. Top Nav
 **************************************************************** **/
#header_shadow {
    background: url('../images/header_shadow.png') no-repeat top center;
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    height: 75px;
    z-index: 99; /* same with header#page-title .container */
}

header#topHead {
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0; /* do not remove - position:fixed added by javascript */
    background-color: #fff;
    z-index: 101;
    border-bottom: #eee 1px solid;
}

    header#topHead form div.checkbox label {
        padding-left: 20px;
    }

    header#topHead a.social {
        text-align: center;
        margin: 1px 0 0 1px;
        font-size: 20px;
        padding: 0;
        background: transparent;
        color: #ccc;
    }

    header#topHead .nav {
        margin-right: 10px;
    }

    header#topHead a {
        color: #999;
        font-size: 13px;
        padding-right: 10px;
    }

    header#topHead .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    header#topHead .dropdown-menu {
        background-color: #2E363F;
    }

        header#topHead .dropdown-menu li a img,
        header#topHead button.language img,
        header#topHead button.language {
            font-size: 13px;
            display: inline-block;
            margin-right: 6px;
        }

        header#topHead .dropdown-menu li a {
            color: #fff;
            padding: 6px 10px;
            font-size: 13px;
        }

        header#topHead .dropdown-menu li:hover a {
            background-color: #1B1F23;
        }

        header#topHead .dropdown-menu:after {
            content: " ";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            right: 10px;
            top: -18px;
            border: #2E363F 10px solid;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
        }

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
    height: 100%;
}

header#topNav.topHead {
    top: 0px;
}

header#topNav {
    background: #727cf5;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100; /* always on top */
}

    header#topNav.hasTopHead {
        top: 30px !important;
    }

    header#topNav .nav > li:last-child > a {
        padding-right: 0;
    }

    header#topNav div.nav-main-collapse {
        margin-top: 16px;
        z-index: 300;
    }

        header#topNav div.nav-main-collapse,
        header#topNav div.nav-main-collapse.in {
            overflow-y: visible;
        }

            header#topNav div.nav-main-collapse.in {
                overflow-y: visible;
                float: none;
                margin: 0;
            }

    header#topNav nav ul.nav-main {
        z-index: 300;
    }

        header#topNav nav ul.nav-main i.icon-caret-down {
            background: transparent;
            border-radius: 100%;
            color: white;
            display: inline-block;
            font-size: 12px;
            height: 14px;
            line-height: 15px;
            position: relative;
            text-align: center;
            top: -1px;
            width: 14px;
        }

        header#topNav nav ul.nav-main > li + li {
            margin-left: -4px;
        }

        header#topNav nav ul.nav-main .dropdown-submenu {
            position: relative;
        }

            header#topNav nav ul.nav-main .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            header#topNav nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            header#topNav nav ul.nav-main .dropdown-submenu > a:after {
                content: " ";
                display: block;
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #CCC;
                margin-top: 5px;
                margin-right: -10px;
            }

            header#topNav nav ul.nav-main .dropdown-submenu:hover > a:after {
                border-left-color: #ffffff;
            }

            header#topNav nav ul.nav-main .dropdown-submenu.pull-left {
                float: none;
            }

                header#topNav nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

        header#topNav nav ul.nav-main li.dropdown.open a.dropdown-toggle {
            -moz-border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
        }

        header#topNav nav ul.nav-main ul.dropdown-menu,
        header#topNav nav ul.nav-main li.dropdown.open a.dropdown-toggle,
        header#topNav nav ul.nav-main li.active a {
            background-color: transparent;
        }

        header#topNav nav ul.nav-main ul.dropdown-menu {
            top: auto;
            border: 0;
            border-radius: 6px;
            margin: 0 0 0 0;
            padding: 10px 0;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-box-shadow: 0 0 0;
            -moz-box-shadow: 0 0 0;
        }

            header#topNav nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
                margin-left: -6px !important;
                margin-top: -10px !important;
                box-shadow: rgba(0,0,0,0.5) 0 0 6px !important;
                -moz-box-shadow: rgba(0,0,0,0.5) 0 0 6px !important;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
            }

            header#topNav nav ul.nav-main ul.dropdown-menu li:hover > a {
                filter: none;
            }

            header#topNav nav ul.nav-main ul.dropdown-menu > li > a {
                position: relative;
                font-weight: normal;
                padding: 6px 20px 6px 12px;
            }

            header#topNav nav ul.nav-main ul.dropdown-menu li:last-child > a {
                border-bottom: 0;
            }

        header#topNav nav ul.nav-main li a {
            background: none;
            font-style: normal;
            line-height: 20px;
            color: #000;
            font-weight: 100;
            position: relative;
            font-size: 13px;
        }

.carousel-control.right {
    background: none;
    width: 70px;
}

.carousel-control.left {
    background: none;
    width: 70px;
}

.goletfullwidth {
    background: #292f38;
    padding: 20px 0;
}

.box {
    background: #648cff;
    display: inline-block;
    padding: 12px 0;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.box h5 {
    color: #fff
}

.goletfullwidth h1 {
    color: #fff;
    font-weight: normal;
    font-size: 25px;
}

.fontsize {
    font-size: 30px;
    color: #fff;
}


header#topNav nav ul.nav-pills > li > a,
header#topNav nav ul.nav-pills > li > a:hover,
header#topNav nav ul.nav-pills > li > a:focus,
header#topNav nav ul.nav-pills > li.active > a,
header#topNav nav ul.nav-pills > li.active > a:hover,
header#topNav nav ul.nav-pills > li.active > a:focus {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    background: none;
}

header#topNav nav ul.nav-main li ul a {
    text-transform: none;
    font-weight: normal;
    font-size: 0.9em;
}

header#topNav nav ul.nav-main li.dropdown:hover > a {
    padding-bottom: 11px;
    margin-bottom: -1px;
    position: relative;
}

    header#topNav nav ul.nav-main li.dropdown:hover > a:after {
        content: " ";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 40%;
        bottom: -3px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }


header#topNav nav ul.nav-main li.dropdown:hover > ul {
    display: block;
    z-index: 300;
}

header#topNav li.divider {
    border: 0;
    border-bottom: #465260 1px solid;
    border-top: #1B1F23 1px solid;
    padding: 0;
}

header#topNav li a i.fa {
    padding-right: 6px;
}

header#topNav li a em {
    color: #fff;
}

header#topNav a.logo {
    color: #333;
    text-decoration: none;
    font-size: 35px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -2px;
}

header#topNav button.btn-mobile {
    color: #fff;
    display: none;
    background: #2E363F;
    padding: 6px 10px;
    margin-top: 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    header#topNav button.btn-mobile i {
        padding: 0;
        margin: 0;
        font-size: 21px;
    }


/* force btn default styles to be available on header */
header#topNav a.btn-warning {
    background-color: #f0ad4e !important;
}

header#topNav a.btn-info {
    background-color: #5bc0de !important;
}

header#topNav a.btn-danger {
    background-color: #d9534f !important;
}

/*******************
    Nestin.css
********************/
.image_large {
    max-height: 200px;
    min-height: 150px;
    max-width: 200px;
    min-width: 150px;
    background-position: center;
    text-align: center;
    border-radius: 50%;
}


.image_small {
    border-radius: 50%;
    border: 2px solid #dcdbdb;
    width: 40px;
    height: 40px;
}

.image_medium {
    border-radius: 50%;
    border: 2px solid #dcdbdb;
    width: 60px;
    height: 60px;
}


.top-NavigationBar {
    height: 75px;
    background-color: #727cf5;
    color: #fff;
}

.main-headertop {
    color: #fff;
    padding-top: 11px;
    text-align: center;
    font-size: x-large !important;
    font-family: Montserrat, sans-serif;
}

.jumbotron-local {
    background-color: #00baed;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

.download_overlay {
    background: url(../Images/Icon/downloadbg.png) repeat-y;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.download {
    position: relative;
    padding-top: 35px;
}

.download_item h5 {
    line-height: 1.5rem;
    width: 70%;
}

.download_item img.app_right {
    position: relative;
    bottom: -32px;
    padding-left: 195px;
}

img.app_centre {
    margin: auto;
    padding-top: 15px;
    margin-left: 115px
}

.download_app {
    margin-left: -10px;
}

    .download_app a {
        margin-left: 10px;
    }

.container-size {
    padding: 60px 50px;
}

.header-title {
    margin: 0;
    color: #333;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: -1px;
}

.Space label {
    margin-left: 10px;
}

.rad {
    font-family: 'Open Sans';
    font-size: medium;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


.form-popup {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 30%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }


    .form-container .btn {
        background-color: #727cf5;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }


    .form-container .cancel {
        background-color: red;
    }


    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }



/*******************
   NewAptt.css
********************/

body {
    background-color: #ffffff !important;
    margin-top: 10px;
    
}

.glyphicon {
    color: #fff;
    /*background-color: #607D8B;*/
    padding: 10px;
    margin-left: -7px;
    top: 2px !important;
}

.zero-margin {
    margin: 0px;
    padding: 0px;
}

.modal {
    top: 80px;
    left: 230px;
}

.myclass1 {
    padding: 7px
}

.txtbox_style {
    width: 100%;
    margin-top: 3px;
}

.txtDrop {
    width: 100%;
    margin-top: 3px;
    padding: 3px;
}

.lblHead {
    width: 100%;
}


.layout_iframe {
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    border: 1px solid #f3f0f0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);
}

.close {
    opacity: 1.0;
}

    .close:hover {
        opacity: 0.5 !important;
    }

#top_header {
    background-color: #727cf5;
    padding: 5px;
}

.navbarfont_heading_1 {
    padding: 20px
}


.layout_shadow_table {
    width: 100%;
    color: #808080;
    background-color: #fff;
    border-radius: 2px;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}


.Vendor_edit_icon {
    border: 0;
    outline: 0;
    width: 25px;
    height: 25px;
    background-color: #faf9f9;
    border-radius: 5px;
}

.VendorImgEdit {
    outline: 0;
    border: 0;
    width: 20px;
    height: 20px;
    background-color: #faf9f9;
}

.modalFlat {
    padding-left: 100px;
    padding-top: 8px;
}

.table_bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-group, .btn-group-vertical {
    padding: 20px;
}

.layout-overlay {
    background: #f7f6f6;
    top: 0px;
    display: none;
    height: 100px;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 80%;
    opacity: 0.5;
}

.rightControl {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.leftControl {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


.iframe-layout {
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    overflow-y: visible;
    /* border:1px solid #f3f0f0;
        border-radius:5px; 
        box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);*/
}

.btn_my {
    border-radius: 5px !important;
    margin-right: 3px;
    margin-bottom: 6px;
    color: #fff;
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}

    .btn_my:hover {
        background-color: #ff5722;
        border-color: transparent;
    }

h4 {
    font-family: Titillium-Web,sans-serif !important;
}

.profile-image {
    border-radius: 50%;
    border: 2px solid #dcdbdb;
    width: 40px;
    height: 40px;
}

.changeLoggedinSociety {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 50px 0px 0px 50px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #e6e2e2;
    background-color: rgba(0,0,0,0.4);
}

.changeLoggedinSociety-inner {
    max-width: 500px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #bfbfbf;
    border-radius: 10px;
    position: relative;
    padding: 0px 10px 20px 30px;
    margin-left: 27%;
    margin-top: 100px;
}

.changeLoggedinSociety-items {
    margin-top: 20px;
}

.rolesList {
    height: 40px;
    font-size: 24px;
    margin: 10px;
}

.menu_text {
    color: #062e78;
    font-size: 16px !important;
}

@media only screen and (min-width: 600px) {
    .popup_box_size {
        width: 450px;
        margin-left: 150px;
        margin-top: 20px;
    }
}



/*******************
    Responsive.css
********************/







@media screen and (max-width: 800px) {

    .login_div {
        float: left;
        position: fixed;
        width: 40%;
        left: 30%;
        padding: 1% 0 3% 0;
    }


    .div_Discussion_Notification {
        width: 99%;
        float: left;
        margin-left: 0;
        font-size: large;
        height: auto;
    }

    .child_discussions_notifications {
        width: 98%;
        margin-left: 1%;
        margin-top: 2%;
        float: left;
        height: auto;
    }

    .btnlogout_style {
        display: none;
    }

    .div_complaints_graph {
        width: 99%;
        margin-top: 3%;
        margin-left: 1%;
        float: left;
        height: 350px;
        overflow: auto;
    }

    .Vendors {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        height: 220px;
        overflow: auto;
        float: left;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #bfbfbf;
    }

    .Buy_sell_Charting {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        float: left;
        height: 220px;
        overflow: auto;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        background-color: #f2f2f2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .Pie_Chart {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        float: left;
        height: 220px;
        overflow: auto;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }

    #username {
        display: none;
    }
}


@media only screen and (max-width : 480px) {


    .login_div {
        float: left;
        position: fixed;
        width: 60%;
        left: 20%;
    }

    .iframe_left {
        width: 0%;
    }

    .iframe_right {
        width: 0%;
    }

    #lbltitle {
        display: none;
    }

    .btnlogout_style {
        display: none;
    }

    .div_Discussion_Notification {
        width: 99%;
        float: left;
        margin-left: 0;
        font-size: medium;
    }

    .child_discussions_notifications {
        width: 98%;
        margin-left: 1%;
        margin-top: 2%;
        float: left;
        height: 30px;
    }

    .div_complaints_graph {
        width: 99%;
        margin-top: 3%;
        margin-left: 1%;
        float: left;
        height: 350px;
        overflow: auto;
    }

    .Vendors {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        height: 220px;
        overflow: auto;
        float: left;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #bfbfbf;
    }

    .Buy_sell_Charting {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        float: left;
        height: 220px;
        overflow: auto;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        background-color: #f2f2f2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .Pie_Chart {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        float: left;
        height: 220px;
        overflow: auto;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }

    #username {
        display: none;
    }
}

@media only screen and (max-width : 320px) {



    /* Login Div */

    .login_div {
        float: left;
        position: fixed;
        width: 90%;
        left: 5%;
        padding: 2% 1% 5% 1%;
    }

    .iframe_left {
        width: 0%;
    }

    .iframe_right {
        width: 0%;
    }


    .iframe_center {
        width: 100%;
    }

    .btnlogout_style {
        display: none;
    }

    #login_user {
        font-size: 25px;
        color: white;
        border-color: white;
    }

    #lbltitle {
        display: none;
    }

    .div_Discussion_Notification {
        width: 99%;
        float: left;
        margin-left: 0;
        font-size: small;
    }

    .child_discussions_notifications {
        width: 98%;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
        border-top: 2px solid #1a93ba;
    }

    .div_complaints_graph {
        width: 99%;
        margin-top: 3%;
        margin-left: 1%;
        float: left;
        height: 350px;
        overflow: auto;
    }

    .Vendors {
        width: 100%;
        margin-top: 1%;
        height: 230px;
        overflow: auto;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .Buy_sell_Charting {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        float: left;
        height: 220px;
        cursor: pointer;
        background-color: #f2f2f2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .Pie_Chart {
        width: 99%;
        margin-top: 1%;
        margin-left: 1%;
        float: left;
        height: 220px;
        overflow: auto;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }

    #username {
        display: none;
    }
}
