.ProgressBar {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    display: block;
    
}
    .ProgressBar img {
       
    }

    .ProgressBar-Parent {
        position: relative;
        align-content:center;
    }

.ProgressBar-Sibling {
    position: absolute;
}
