body {
    background-color: #f7f7f7 !important;
    margin:0px;padding:0px;
}

.glyphicon {
    color: #fff;
    /*background-color: #607D8B;*/
    padding: 10px;
    margin-left: -7px;
    top: 2px!important;
}
.zero-margin {
    margin:0px;
    padding:0px;
}
.modal {
    top:80px;
    left:230px;
}
.myclass1 {
    padding:7px
}

.txtbox_style {
    width:100%;
    margin-top:3px;
}
.txtDrop {
width:100%;
    margin-top:3px;
    padding:3px;
}

.lblHead {
      width:100%;
      
}


  .layout_iframe{
        width:100%;
        overflow:hidden;
        margin:0px 0px 30px 0px;
        padding:0px;
        border:1px solid #f3f0f0;
        border-radius:5px; 
        box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);
    }
  .close {
      opacity: 1.0;
  }

    .close:hover {
    
    opacity: 0.5!important;
    }
#top_header {
    background-color: #727cf5;
    padding: 5px;
}
    .navbarfont_heading_1{
        padding:20px
    }


.layout_shadow_table {
    width: 100%;
    color: #808080;
    background-color: #fff;
    border-radius: 2px;
    border-collapse: initial;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}


 .Vendor_edit_icon{
    
    border:0;
    outline:0;
    width:25px;
    height:25px;
    background-color:#faf9f9;
     border-radius:5px;
}

.VendorImgEdit{

    outline:0;
    border:0;
    width:20px; height:20px; 
    background-color:#faf9f9;
}
.modalFlat {
    padding-left:100px;
    padding-top:8px;
}
.table_bg {
    background-color:rgba(0, 0, 0, 0.2);
}
.btn-group, .btn-group-vertical {
    padding:20px;
}
 .layout-overlay 
                {
                background:#f7f6f6;
                top: 0px;
                display:none;
                height:100px;
                position: absolute;
                transition: height 500ms ease 0s;
                width: 80%;
                opacity:0.5;
            }

    .rightControl{
            border-bottom-right-radius:5px;
        border-top-right-radius:5px;
        }

        .leftControl {
              border-bottom-left-radius:5px;
        border-top-left-radius:5px;
        }


        .iframe-layout{
        width:100%;
        overflow:hidden;
        margin:0px 0px 0px 0px;
        padding:0px;
        border:none;
        overflow-y:visible;
       /* border:1px solid #f3f0f0;
        border-radius:5px; 
        box-shadow: 0px 4px 8px 0px rgba(94,3,3,0.2);*/
    }

    .btn_my {
    border-radius: 5px !important;
    
    margin-right: 3px;
    margin-bottom: 6px;
    color: #fff;
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}

    .btn_my:hover {
        background-color: #ff5722;
        border-color: transparent;
    }
       h4 {
           font-family:Titillium-Web,sans-serif !important;

          

       }
.profile-image {
    border-radius: 50%;
    border: 2px solid #dcdbdb;
    width: 40px;
    height: 40px;
}
.changeLoggedinSociety {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 50px 0px 0px 50px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #e6e2e2;
    background-color: rgba(0,0,0,0.4);
}

.changeLoggedinSociety-inner {
    max-width: 500px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #bfbfbf;
    border-radius: 10px;
    position: relative;
    padding: 0px 10px 20px 30px;
    margin-left: 27%;
    margin-top: 100px;
}

.changeLoggedinSociety-items {
    margin-top: 20px;
}

.rolesList {
    height: 40px;
    font-size: 24px;
    margin: 10px;
}

.menu_text {
    color: #062e78;
    font-size:16px!important;
}
@media only screen and (min-width: 600px) {
    .popup_box_size {
        width: 450px;
        margin-left: 150px;
        margin-top: 20px;
    }
}
